*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,h2,h3{
    color: #333;
}
p{
    color: #050505;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;

}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(../projeto_final/img/fundo2.png);
    background-size: 100%;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    display: flex ;
    justify-content: left;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.icon .logo {
    width: 150px; /* ajuste o tamanho conforme necessário */
    height: auto; /* mantém a proporção da imagem */
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}


.default-btn{
    padding: 15px 20px;
    background-color: #062f6d ;
    border-radius:5px;
    color: #FFF;
}

.default-btn:hover{
    background-color: #041a49;
    cursor: pointer;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


.card{
    display: inline-block;
    width: 300px;
    margin: 25px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /*  */

}
.card:hover{
    width: 320px;
}
.card-image{
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    transition: filter 0.3s; /* Transição suave para o efeito de filtro */
}
.card:hover .card-image {
    filter: brightness(0.5); /* Escurece a imagem */
    
}
.card-description {
    background: #6c8fb3;
    padding: 10px;
    text-align: center;
}

/* Estilo do link 'Ver Mais' */
.card-description a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;

    color: #040c14; /* Cor do texto do link */
    font-weight: bold;
    transition: color 0.4s;
}

.card-description a:hover {
    color: #c7b5b5; /* Cor do link quando o mouse passa sobre ele */
}

.card-1 .card-image{
    background-image: url(img/firewhip.jpg);
}
.card-2 .card-image{
    background-image: url(img/bigtower.jpg);
}
.card-3 .card-image{
    background-image: url(img/star.jpeg);
}
.card-4 .card-image{
    background-image: url(img/tchibum.jpg);
}
.card-5 .card-image{
    background-image: url(img/barco.jpg);
}
.card-6 .card-image{
    background-image: url(img/crazyriver.jpg);
}
.card-7 .card-image{
    background-image: url(img/rebulico.jpg);
    background-position: center;

}
.card-8 .card-image{
    background-image: url(img/supersoak.jpeg);
}
.card-9 .card-image{
    background-image: url(img/spin.jpg);
    background-position: center;
}
.card-10 .card-image{
    background-image: url(img/tigor.jpg);
    background-position: center;
}
.card-11 .card-image{
    background-image: url(img/raskapuska.jpg);
    background-position: center;
}
.card-12 .card-image{
    background-image: url(img/hotwheels.jpg);
    background-position: center;
}
.card-13 .card-image{
    background-image: url(img/dinomagic.jpg);
    background-position: center;
}
.card-14 .card-image{
    background-image: url(img/roda.jpg);
    background-position: center;
}
.card-15 .card-image{
    background-image: url(img/carrossel.jpg);
    background-position: center;
}
.card-16 .card-image{
    background-image: url(img/circusplaza2.jpg);
    background-position: center;
}

.contact-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2{
    font-size: 36px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}
.contact-container input, .contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #042161;
    color: #FFF;
    transition: 0.5s;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    
}
.contact-container input[type=submit]:hover{
    background-color: #2c96c7;
}

/* footer */

footer{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.social-icons {
    display: flex;
    justify-content:center;
    font-size: 20px; 
    color: #333; 
    display: flex;
    gap: 15px; 
}