/* reset*/
*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
body{
    background-color: #05133a;
}

/*cabeçalho*/
h1,p{
    text-align: center;
    font-weight: bold;
    color: rgb(192, 73, 4);

}
h1{
    border-style: solid;
    border-color: #073066;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #4A87E8;
    background-color: #00458a; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaço interno */
    border-radius: 98px; /* Cantos arredondados */
    

}

/* GALERIA */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.card{
    display: inline-block;
    width: 300px;
    margin: 25px;
    border: 2px solid #4A87E8 ;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;

}
.card-image{
    height: 300px;
    background-size: cover;
    border-radius: 8px;
    transition: filter 0.3s; /* Transição suave para o efeito de filtro */
}
.card:hover .card-image {
    filter: brightness(0.5); /* Escurece a imagem */
}
.card-description {
    background: #132769;
    padding: 10px;
    text-align: center;
}

/* Estilo do link 'Ver Mais' */
.card-description a {
    text-decoration: none;
    color: #00458a; /* Cor do texto do link */
    font-weight: bold;
    transition: color 0.4s;
}

.card-description a:hover {
    color: #310505; /* Cor do link quando o mouse passa sobre ele */
}

.card-1 .card-image{
    background-image: url(img/firewhip.jpg);
}
.card-2 .card-image{
    background-image: url(img/bigtower.jpg);
}
.card-3 .card-image{
    background-image: url(img/star.jpeg);
}
.card-4 .card-image{
    background-image: url(img/tchibum.jpg);
}
.card-5 .card-image{
    background-image: url(img/barco.jpg);
}
.card-6 .card-image{
    background-image: url(img/crazyriver.jpg);
}
.card-7 .card-image{
    background-image: url(img/rebulico.jpg);
    background-position: center;

}
.card-8 .card-image{
    background-image: url(img/supersoak.jpeg);
}
.card-9 .card-image{
    background-image: url(img/spin2.jpg);
    background-position: center;
}
.card-10 .card-image{
    background-image: url(img/tigor.jpg);
    background-position: center;
}
.card-11 .card-image{
    background-image: url(img/raskapuska.jpg);
    background-position: center;
}
.card-12 .card-image{
    background-image: url(img/hotwheels.jpg);
    background-position: center;
}
.card-13 .card-image{
    background-image: url(img/dinomagic.jpg);
    background-position: center;
}
.card-14 .card-image{
    background-image: url(img/roda.jpg);
    background-position: center;
}
.card-15 .card-image{
    background-image: url(img/carrossel.jpg);
    background-position: center;
}
.card-16 .card-image{
    background-image: url(img/circusshow.jpg);
    background-position: center;
}
.card-17 .card-image{
    background-image: url(img/acqua.jpg);
    background-position: center;
}
.card-18 .card-image{
    background-image: url(img/acquaboat.jpg);
    background-position: center;
}
.card-19 .card-image{
    background-image: url(img/nerf.png);
    background-position: center;
}
.card-20 .card-image{
    background-image: url(img/HOT.jpg);
    background-position: center;
}
.card-21 .card-image{
    background-image: url(img/dumdum.jpg);
    background-position: center;
}
.card-22 .card-image{
    background-image: url(img/elefantinho.jpg);
    background-position: center;
}
.card-23 .card-image{
    background-image: url(img/castelo.jpg);
    background-position: center;
}
.card-24 .card-image{
    background-image: url(img/romero.jpg);
    background-position: center;
}
.btn{
    display: block;
    background-color: #000814;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .5s;
}








